@import "compass_twitter_bootstrap"
@import "fonts.css"

h1, h2, h3, h4, h5, h6
  font-family             : "Maven Pro"
  font-weight             : 200
  font-size               : 4em

h2
  font-size               : 2.5em