<div class="interface">
  <div class="users">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h2>Users</h2>
          <table class="table" ng-controller="PeersCtrl">
            <tbody>
              <tr ng-repeat="peer in peers">
                <td><a ng-click="showFileList()">{{peer}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="chat">
    <div class="chat-holder">
      <div class="container-fluid chat-content">
        <div class="row-fluid">
          <div class="span12">
            <h2>Chat</h2>
            <table class="table" ng-controller="ChatCtrl">
              <tbody>
                <tr ng-repeat="msg in msgs">
                  <td>{{msg.user}}: {{msg.msg}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container-fluid chat-bar">
        <div class="row-fluid">
          <div class="span12">
            <input type="text" class="span12" placeholder="No serious shit please!">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" ng-controller="LoginCtrl" ng-hide="initialized">
  <div class="message row-fluid">
    <h1>Welcome.</h1>
    <form ng-submit="setUsername()" ng-hide="showFiles">
      <div class="username">
        <label for="username">What's your nickname?</label>
        <span class="input-append">
          <input type="text" id="username" ng-model="username" autofocus>
          <button type="submit" class="btn">Go!</button>
        </span>
      </div>
    </form>
    <form ng-show="showFiles">
      <div class="files">
        <label for="inputFiles">Files Please!</label>
        <input type="file" id="inputFiles" class="span12" accept="audio/*" multiple onchange="angular.element(this).scope().setFiles(this)">
      </div>
    </form>
  </div>
</div>
